In [11]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
import torch

In [4]:
df = pd.read_csv('groupedby_distric_month_nature.csv')
df=df.dropna()
df=df.drop('Unnamed: 0',axis=1)

In [5]:
df.head()

,Distrito_AVEIRO__,Distrito_BEJA__,Distrito_BRAGANÇA__,Distrito_BRAGA__,Distrito_CASTELO BRANCO__,Distrito_COIMBRA__,Distrito_FARO__,Distrito_GUARDA__,Distrito_LEIRIA__,Distrito_LISBOA__,...,Grouped_Incêndios__,Grouped_Operações__,Grouped_Segurança e Serviços__,MesOcorrencia__,NumeroMeiosTerrestresEnvolvidos_max_max,NumeroMeiosTerrestresEnvolvidos_max_mean,NumeroMeiosTerrestresEnvolvidos_max_min,NumeroOperacionaisTerrestresEnvolvidos_max_max,NumeroOperacionaisTerrestresEnvolvidos_max_mean,NumeroOperacionaisTerrestresEnvolvidos_max_min
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,2.0,1.000000,0.0,4.0,2.000000,0.0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,2,3.0,2.000000,1.0,9.0,4.400000,2.0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,3,2.0,1.666667,1.0,7.0,4.666667,3.0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,4,2.0,2.000000,2.0,7.0,5.000000,4.0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,5,3.0,2.181818,1.0,9.0,5.181818,2.0

In [7]:
df.columns

Index(['Distrito_AVEIRO__', 'Distrito_BEJA__', 'Distrito_BRAGANÇA__',
       'Distrito_BRAGA__', 'Distrito_CASTELO BRANCO__', 'Distrito_COIMBRA__',
       'Distrito_FARO__', 'Distrito_GUARDA__', 'Distrito_LEIRIA__',
       'Distrito_LISBOA__', 'Distrito_PORTALEGRE__', 'Distrito_PORTO__',
       'Distrito_SANTARÉM__', 'Distrito_SETÚBAL__',
       'Distrito_VIANA DO CASTELO__', 'Distrito_VILA REAL__',
       'Distrito_VISEU__', 'Distrito_ÉVORA__', 'Grouped_Acidentes__',
       'Grouped_Assistência e Prevenção__', 'Grouped_Incêndios em Bens__',
       'Grouped_Incêndios__', 'Grouped_Operações__',
       'Grouped_Segurança e Serviços__', 'MesOcorrencia__',
       'NumeroMeiosTerrestresEnvolvidos_max_max',
       'NumeroMeiosTerrestresEnvolvidos_max_mean',
       'NumeroMeiosTerrestresEnvolvidos_max_min',
       'NumeroOperacionaisTerrestresEnvolvidos_max_max',
       'NumeroOperacionaisTerrestresEnvolvidos_max_mean',
       'NumeroOperacionaisTerrestresEnvolvidos_max_min'],
      dtype='object')

In [60]:
scaler = MinMaxScaler()
numerical_columns = ['NumeroMeiosTerrestresEnvolvidos_max_max', 'NumeroMeiosTerrestresEnvolvidos_max_mean', 'NumeroMeiosTerrestresEnvolvidos_max_min','NumeroOperacionaisTerrestresEnvolvidos_max_max','NumeroOperacionaisTerrestresEnvolvidos_max_mean','NumeroOperacionaisTerrestresEnvolvidos_max_min']
columns_drop = numerical_columns.copy()
columns_drop.append('MesOcorrencia__')
df[columns_drop] = scaler.fit_transform(df[columns_drop])

In [61]:
df.head()

,Distrito_AVEIRO__,Distrito_BEJA__,Distrito_BRAGANÇA__,Distrito_BRAGA__,Distrito_CASTELO BRANCO__,Distrito_COIMBRA__,Distrito_FARO__,Distrito_GUARDA__,Distrito_LEIRIA__,Distrito_LISBOA__,...,Grouped_Incêndios__,Grouped_Operações__,Grouped_Segurança e Serviços__,MesOcorrencia__,NumeroMeiosTerrestresEnvolvidos_max_max,NumeroMeiosTerrestresEnvolvidos_max_mean,NumeroMeiosTerrestresEnvolvidos_max_min,NumeroOperacionaisTerrestresEnvolvidos_max_max,NumeroOperacionaisTerrestresEnvolvidos_max_mean,NumeroOperacionaisTerrestresEnvolvidos_max_min
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0.000000,0.333333,0.166667,0.000000,0.307692,0.153846,0.000000
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0.090909,0.500000,0.333333,0.166667,0.692308,0.338462,0.153846
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0.181818,0.333333,0.277778,0.166667,0.538462,0.358974,0.230769
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0.272727,0.333333,0.333333,0.333333,0.538462,0.384615,0.307692
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0.363636,0.500000,0.363636,0.166667,0.692308,0.398601,0.153846

In [62]:
# define the features and target variables
features = df.drop(numerical_columns, axis=1)
target = df[numerical_columns]

# split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

In [63]:
len(X_train)

966

In [64]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import uniform as sp_uniform, randint as sp_randint

In [65]:
models = {
    "Linear Regression": LinearRegression(),
    "Random Forest": RandomForestRegressor(random_state=42),
    "XGBoost": XGBRegressor(random_state=42)
}

def evaluate_model(model, X_train, X_test, y_train, y_test):
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    mae = mean_absolute_error(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    return mae, mse, r2

In [66]:
for model_name, model in models.items():
    mae, mse, r2 = evaluate_model(model, X_train, X_test, y_train, y_test)
    print(f"{model_name} Metrics:")
    print(f"  Mean Absolute Error: {mae:.2f}")
    print(f"  Mean Squared Error: {mse:.2f}")
    print(f"  R2 Score: {r2:.2f}\n")

Linear Regression Metrics:
  Mean Absolute Error: 0.11
  Mean Squared Error: 0.02
  R2 Score: 0.36

Random Forest Metrics:
  Mean Absolute Error: 0.09
  Mean Squared Error: 0.02
  R2 Score: 0.42

XGBoost Metrics:
  Mean Absolute Error: 0.10
  Mean Squared Error: 0.03
  R2 Score: 0.29

In [ ]:

model = RandomForestRegressor(random_state=42)

param_dist = {
    "n_estimators": sp_randint(50, 300),
    "max_depth": sp_randint(3, 20),
    "min_samples_split": sp_randint(2, 20),
    "min_samples_leaf": sp_randint(1, 20),
    "max_features": sp_uniform(0.5, 0.5),
    "bootstrap": [True, False]
}

random_search = RandomizedSearchCV(estimator=model, param_distributions=param_dist, n_iter=50, scoring='neg_mean_absolute_error', cv=5, n_jobs=-1, verbose=2, random_state=42)
random_search.fit(X_train, y_train)

print(f"Best parameters: {random_search.best_params_}")
print(f"Best Mean Absolute Error: {-random_search.best_score_:.2f}")

Fitting 5 folds for each of 50 candidates, totalling 250 fits

In [ ]:
best_rf_model = RandomForestRegressor(**random_search.best_params_, random_state=42)
best_rf_model.fit(X_train, y_train)

y_pred = best_rf_model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Random Forest Metrics (with best hyperparameters):")
print(f"  Mean Absolute Error: {mae:.2f}")
print(f"  Mean Squared Error: {mse:.2f}")
print(f"  R2 Score: {r2:.2f}\n")